@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}


/*Header Start*/
section#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

section#header ul{
  display: flex;
}
section#header ul li{
  list-style-type: none;

}
section#header ul li a{
  display: block;
  text-decoration: none;
  padding: 0px 20px;
  color: #1a1a1a;
  transition: .5s;
  position: relative;
}

section#header ul li a:hover,
section#header ul li a.active
{
  color: #088178;
}

section#header ul li a.active::after,
section#header ul li a:hover::after
{
  content: "";
  width: 39px;
  height: 2px;
  background: #088178;
  position: absolute;
  top: 22px;
  left: 21px;
}
/*header end*/

/*Hero start*/
section#hero{
  background-image: url(../img/hero4.png);
  background-size: cover;
  height: 90vh;
  width: 100%;
  background-position: top 26% right 0;
  padding: 0px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
section#hero h4{
  padding-block: 15px;
}
section#hero h2{

}
section#hero h1{
  color: #088178;
}
section#hero p{}
section#hero button{
  background-image: url(../img/button.png);
  border: 0;
  background-color: transparent;
  padding: 18px 80px 13px 68px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  color: #088178;
}

}
/*Hero End*/