@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}


/*Header Start*/
section#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

section#header ul{
  display: flex;
}
section#header ul li{
  list-style-type: none;

}
section#header ul li a{
  display: block;
  text-decoration: none;
  padding: 0px 20px;
  color: #1a1a1a;
  transition: .5s;
  position: relative;
}

section#header ul li a:hover,
section#header ul li a.active
{
  color: #088178;
}

section#header ul li a.active::after,
section#header ul li a:hover::after
{
  content: "";
  width: 39px;
  height: 2px;
  background: #088178;
  position: absolute;
  top: 22px;
  left: 21px;
}
/*header end*/

/*Hero start*/
section#hero{
  background-image: url(../img/hero4.png);
  background-size: cover;
  height: 90vh;
  width: 100%;
  background-position: top 26% right 0;
  padding: 0px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
section#hero h4{
  padding-block: 15px;
}

section#hero h1{
  color: #088178;
}
section#hero button{
  background-image: url(../img/button.png);
  border: 0;
  background-color: transparent;
  padding: 18px 80px 13px 68px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  color: #088178;
}

/*Hero End*/

/*Feature Start*/
section#feature{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
section#feature .fa-box{
  width: 190px;
  text-align: center;
  box-shadow: 20px 20px 35px rgba(0, 0, 0, 0.1);
  padding: 25px 15px;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 15px 0px;
  cursor: pointer;
}
section#feature .fa-box img{
  width: 100%;
  margin-bottom: 10px;
}
section#feature .fa-box h6{
  background-color: #cdebbc;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 3px;
  color: #088178;
}
section#feature .fa-box:nth-child(2) h6{
  background-color:  #fddde4;
}
section#feature .fa-box:nth-child(3) h6{
  background-color: #cddf48;
}
section#feature .fa-box:nth-child(4) h6{
  background-color:  #d1e8f2;
}
section#feature .fa-box:nth-child(5) h6{
  background-color: #f6dbf6;
}

section#feature .fa-box:hover{
  box-shadow: 20px 20px 35px rgba(0, 0, 0, 0.2);
}
/*Feature End*/

/* Feature product Start */
section#feature-product{
  text-align: center;
  padding-bottom: 100px;
}

section#feature-product .all-product{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

section#feature-product .product{
  width: 23%;
  min-width: 250px;
  padding: 10px;
  border: 1px solid gray;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  cursor: pointer;
  transition: .4s ease;
  margin-top: 42px;
}
section#feature-product .product:hover{
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
section#feature-product .product img{
  width: 100%;
  border-radius: 10px;
}

section#feature-product .product .product-description{
  text-align: start;
  padding: 12px 0px;
}
section#feature-product .product .product-description .title{
  color: #95f376;
  padding: 5px 0px;
}

section#feature-product .product .product-description i.fas{
  color: gold;
  padding: 5px 0px;
}

section#feature-product .product .product-description .price-cart{
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  align-items: center;
}

section#feature-product .product .product-description .price-cart i{
  color: #56cf2e;
  background-color: #c5f7b55e;
  padding: 8px;
  border-radius: 50px;
  transition: 0.3s ease;
}

section#feature-product .product .product-description .price-cart i:hover{
  background-color: #56cf2e;
  color: #c5f7b55e;
}
/* Feature product End */

/* Banner Start  */
section#banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url("../img/banner/b1.jpg");
}

section#banner h4{
  color: white;
  padding: 10px 0px;
}
section#banner h2{
  color: white;
  font-weight: bold;
  padding: 10px 0px;
}
section#banner h2 span{
  color: red;
}
section#banner button{
  width: 20%;
  margin: 0px auto;
  padding: 15px 30px;
  margin-top: 20px;
  cursor: pointer;
}

/* Banner End  */

/* Smone Banner start */
section#more-banner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

section#more-banner .banner-box{
  background-image: url(../img/banner/b17.jpg);
    background-size: cover;
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px 54px;
    height: 45vh;
    justify-content: center;
    margin-bottom: 25px;
    
}

section#more-banner .banner-box2{
  background-image: url(../img/banner/b10.jpg)!important;
}

section#more-banner .banner-box3{
  background-image: url(../img/banner/b7.jpg)!important;
  width: 32%!important;
}

section#more-banner .banner-box4{
  background-image: url(../img/banner/b4.jpg)!important;
  width: 32%!important;
}

section#more-banner .banner-box5{
  background-image: url(../img/banner/b18.jpg)!important;
  width: 32%!important;
}

section#more-banner .banner-box h4{
  color: white;
}
section#more-banner .banner-box h2{
  color: white;
  font-size: 35px;
}
section#more-banner .banner-box span{
  color: white;
}

section#more-banner .banner-box button{
  color: white;
  background-color: transparent;
  padding: 15px 25px;
  border: 1px solid white;
  margin-top: 11px;
  cursor: pointer;
  transition: 0.3s ease;
}

section#more-banner .banner-box button:hover{
  background-color: #56cf2e;
}
/* Smone Banner End */